@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 100%;
  width: 40rem;
  margin: 10rem auto;
  height: 100vh; }
  .container .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .container .progress-container::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 4px;
      background-color: #dadce3;
      width: 100%;
      z-index: -1; }
    .container .progress-container .progress {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 4px;
      background-color: #3a65f2;
      width: 0%;
      z-index: -1;
      transition: all 0.3s; }
    .container .progress-container .circle {
      width: 3rem;
      height: 3rem;
      border-radius: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid #dadce3;
      font-size: 1.5rem;
      color: #dadce3; }
      .container .progress-container .circle.active {
        background-color: #3a65f2;
        color: #fff; }
  .container .btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem; }
    .container .btn-wrap .btn {
      padding: 1rem 2rem;
      background-color: #3a65f2;
      color: #fff;
      outline: none;
      border: none;
      cursor: pointer; }
      .container .btn-wrap .btn:disabled {
        background-color: #dadce3;
        cursor: not-allowed; }
